/* Global reset */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Fonts and text styles */
  html {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  
  /* Body styles */
  body {
    background: linear-gradient(
      to bottom,
      #2b5a90 0%,
      #243670 5%,
      #1d092e 65%,
      #15161a 100%
    ); 
    height: 100%;
    width: 100%;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Lists */
  ul {
    list-style: none;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 15px;
  }
  
  /* Containers */
  .starsBlock {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    background-image: url("./img/Stars.png");
  }
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #c1c1c1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      #2b5a90 0%,
      #243670 23%,
      #2c044e 65%,
      #15161a 100%
    ); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1d092e;
  }
  
  /* Header styles */
  header {
    display: flex;
    gap: 70px;
    margin-top: 55px;
  }
  
  /* Avatar styles */
  .avatar {
    width: 248px;
    height: 248px;
    border-radius: 50%;
    border: 4px solid #3d6bf4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .avatar-inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    animation: pulse 4s infinite;
  }
  
  .avatar-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .avatar-inner:hover {
    animation-play-state: paused;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }